.header{
    padding: 42px 0;
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo_block{
    display: flex;
}
.logo_name{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
.logo_img{
    width: 30px;
    height: 30px;
    background-color: $green;
    border-radius: 20px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/leaf.png);
}

.panel_item{
    font-size: 14px;
}
.panel_link{
    color: $grey;
    font-weight: 700;
    background: linear-gradient(to right, transparent,transparent),
        linear-gradient(to right, #006400, #03a9f4, #021691);
    background-size: 100% 3px,0 3px;
    background-position: 100% 100%,0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.panel_link:hover{
    background-size: 0 3px, 100% 3px;
}
.panel_list{
    display: flex;
    gap: 36px;
}